@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #252526;
  box-sizing: border-box;
}

.hero-background {
  background: rgb(244, 245, 249);
  background: linear-gradient(
    90deg,
    rgba(244, 245, 249, 1) 0%,
    rgba(250, 229, 229, 1) 85%
  );
}

.button-background {
  background: rgb(71, 100, 207);
  background: linear-gradient(
    90deg,
    rgba(71, 100, 207, 1) 0%,
    rgba(118, 84, 187, 0.8689600840336135) 85%
  );
}

.why-bowalpay-background {
  background: rgb(30, 37, 69);
  background: linear-gradient(
    90deg,
    rgba(30, 37, 69, 1) 0%,
    rgba(54, 27, 61, 1) 85%
  );
}

.blue-mix-background {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(234, 237, 244, 1) 85%
  );
}

/* Tailwind */

.flex_col {
  @apply flex flex-col;
}

.flex_col_center {
  @apply flex_col items-center;
}

.flex_col_justify_center {
  @apply flex_col_center justify-center;
}

.flex_col_justify_between {
  @apply flex_col_center justify-between;
}
